<!DOCTYPE html>
<html>
<head>
  <title>junyi_version7_login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link href="login.css" rel="stylesheet" type="text/css" /> 
<!-- <link rel="stylesheet" href="css/bootstrap.css">  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="all">
    <div class="first-top-navbar">
      <nav id="first-top-id" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="index_v7.html">JUNYI</a>
          </div>
          
          <div class="collapse navbar-collapse myNavbar">
            <div class="second-word-style">
             <!-- <ul class="nav navbar-nav">
                <li id="active" class="active"><a href="#">首頁</a></li>
                <li class="normal"><a href="#">講義下載</a></li>
                <li class="normal"><a href="#">討論區</a></li> 
                <li class="normal"><a href="#">教師資源</a></li>
              </ul>-->
              <ul class="nav navbar-nav navbar-right">
                <li class="normal"><a href="login.html">登入</a></li>
                <li id="active" class="active" ><a href="sign_up.html">註冊</a></li>
              </ul> 
              <!--<form class="nav navbar-form navbar-right" role="search">
                  <div class="revise-box">
                    <input type="text" class="form-control" placeholder="Search">
                </div> 
              </form> -->
            </div>
          </div>
		  
        </div>
      </nav>
    </div>
    <div class="login">

      <div class="form-title">
	  	  <h1>Sign up</h1>
      </div>
      <form action="" method="post" role="form">
	      <div class="form-group">
		      <label for="email">Email</label>
		      <div class="login-box"> 
		      	<input type="email" class="form-control" id="email" placeholder="username@gmail.com">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="pwd">Password</label> 
		      <div class="login-box">
		      	<input type="password" class="form-control" id="pwd" placeholder="password">
		      </div>
		    </div>
		    <div class="button-submit-style"><button type="submit" class="btn btn-default" id="button">Submit</button></div>
		    	    <!--
		    <div class="other-sign-in">
	        <p>login in with other account</p>
	        <div class="button-other-style">
	  		    <button type="submit" class="btn btn-default">Facebook</button>
	          <button type="submit" class="btn btn-default">Google</button>
	  		    <button type="submit" class="btn btn-default">Twitter</button>
	  	    </div>
	  	    -->
  	    </form>
      </div>

    </div>
  </div><!--all class-->
</body>
</html>


<!--
form width
form position
hover
-->