/////base
$whole-background-color: #F0F0F0;
$top-navbar-color: white;
$first-top-navbar-height: 50px;
$side-bar-bgcolor: #333366;
$main-color-light: #6363B0;
$main-color-heavy: #1B1B36;
//$second-top-navbar-height: 20px;
html{
  height: 100%;
  width: 100%;
  background-color: $whole-background-color;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;

 // overflow-x: hidden;
}
.all{
  height: 100%;
  width: 100%;
  background-color: $whole-background-color; 
}
.first-top-navbar > #first-top-id{
//  height: $first-top-navbar-height;
  background-color: $top-navbar-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
}
.navbar-default .navbar-brand{
  color: $side-bar-bgcolor;
}
.first-top-navbar{
  width: 100%;
  .navbar-brand{
    // color: #1B1B36;
    font-size: 25px;
    font-weight: bold;
  }
}
.revise-box{
}
.revise-box > .form-control{;
  border-radius: 18px;
  padding: 3px 3px 3px 28px;
  background: #fff url('search.gif') no-repeat 8px 8px;
}
.revise-box > .form-control:focus{
  border: 1px solid #6363B0;
  outline: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15)
}
.second-word-style{
  #active a{
    color: black;
    background-color: $top-navbar-color;
    border-bottom: 2px solid  $side-bar-bgcolor;
    font-weight: bold;
  }
  .normal:hover{
   // border-bottom: 2px solid  $side-bar-bgcolor;
  }
  a{
    font-size: 15.2px;
  }
}
